
> 1%              # 支援全球市佔率大於 1% 的瀏覽器（太冷門的就不支援）
last 2 versions   # 支援各主流瀏覽器的最新 2 個版本（例如 Chrome 最新版與前一版）
not dead          # 排除已經停止維護、且使用率極低的瀏覽器（例如超過 2 年沒更新）
not ie 11         # 明確排除 Internet Explorer 11（即使市佔高於 1% 也不支援）
